:root {
  /* Color Theme Swatches in Hex */
  --clr-1: #090b0d;
  --clr-2: #6d7e8c;
  --clr-3: #a3b2bf;
  --clr-4: #2d3940;
  --clr-5: #f2f2f2;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-3);
}

main {
  position: absolute;
  display: flex;
  margin: 2rem;
  flex-direction: row;
  gap: 1rem;
}
